################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstPlugin/JuceLibraryCode
/FirstPlugin/FirstPlugin.jucer
/FirstPlugin/Builds/VisualStudio2022
